# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Archivos de sistema / IDE
.DS_Store
.vscode/
.idea/